<h1>About</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<hr>

<div class="row">
  <div class="col-md-4">
    <img src="" width="300" alt="Profile Image">

    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>
      Beautiful image to the left  |  Put content here
    </p>
  </div>
</div>
