<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6">
        <h3>My Base</h3>
    
        <p>Somewhere Dr.</p>
    
        <h3>Phone</h3>
    
        <p><%= number_to_phone "99999" %></p>
    
        <h3>Email</h3>
    
        <p><a href="mailto:fakeeemail@fake.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>
    
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d128052328.84532775!2d-38.431071593562656!3d-11.63425393907078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb09dff882a7809e1%3A0xb08d0a385dc8c7c7!2sAntarctica!5e0!3m2!1sen!2sus!4v1501686511652" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
